{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DentaCare | Healthier Teeth</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{% static "app/css/main-theme.css" %}" rel="stylesheet">

</head>

<body id = "page-top">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  DentaCare
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/index/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about/clinic/">The Clinic</a></li>
                            <li><a href="/about/team/">The Crew</a></li>
                            <li><a href="/about/press/">In The Press</a></li>
                            <li><a href="/about/events/">Events</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/services/periodontics/">Periodontics</a></li>
                            <li><a href="/services/dentistry">Specialized Dentistry</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Hub<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/patients/new/">New Patients</a></li>
                            <li><a href="/patients/testimonials">Testimonials</a></li>
                            <li><a href="/patients/login/">Sign Up / Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dental Updates<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/updates/announcements/">Announcements</a></li>
                            <li><a href="/updates/blog/">Blog</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/appointments/">Appointments</a>
                    </li>
                    <li>
                        <a href="/faq/">F.A.Q.</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact Us</a>
                    </li> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



<section id="about" class="container content-section text-center">

<div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Blog Homepage</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-camera fa-4x"></i>
                </p>
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                <a href="blog-post.html">
                    <img src="http://placehold.it/600x300" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
                </h3>
                <p>by <a href="#">Start Bootstrap</a>
                </p>
                <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
                <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-film fa-4x"></i>
                </p>
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                <a href="blog-post.html">
                    <img src="http://placehold.it/600x300" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
                </h3>
                <p>by <a href="#">Start Bootstrap</a>
                </p>
                <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
                <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-file-text fa-4x"></i>
                </p>
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                <a href="blog-post.html">
                    <img src="http://placehold.it/600x300" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6">
                <h3><a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
                </h3>
                <p>by <a href="#">Start Bootstrap</a>
                </p>
                <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
                <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <hr>

        <div class="row">

            <ul class="pager">
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

</div>
</section>
    <section class = "footer">
    <br>
    <br>
        <div>
        	<p align="center"> © 2013 Dentacare, Inc. | All Rights Reserved | Made with ♥ in NYC</p>
        </div>
    <br>
    </section>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
        <script src="{% static "app/js/main-theme.js" %}"></script>

</body>

</html>
